* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Garamond;
	font-size: 130%;
	background: #000;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #000000;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 1px 1px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #ecccff;
	background: white;
	border-radius: 0px 0px 1px 1px;
}
.input-group {
	margin: 11px 0px 11px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 4px;
}
.input-group input {
	height: 30px;
	width: 95%;
	padding: 6px 10px;
	font-size: 16px;
	border-radius: 20px;
	border: 1.4px solid gray;
}
.btn {
	padding: 10px;
	font-size: 16px;
	color: white;
	background: #000;
	border: none;
	border-radius: 1px;
}

.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: black; 
	background: white; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}