*{
	padding: 0;
	margin: 0;
	font-family: Arial;
}

/*Estilos para el botón submit */
input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	font-size: 20px;
}

/* Mensaje correcto */
.ok {
	text-align: center;
	font-size: 30px;
	width: 100%;
	padding: 10px;
	background-color: #00cc00;
	color: #fff
}

/* Mensaje incorrecto */
.bad {
	text-align: center;
	font-size: 30px;
	width: 100%;
	padding: 12px;
	background-color: #ff0000;
	color: #fff
}

